<header class="art-header">

  <div class="art-shapes">

  </div>

  <h1 class="art-headline">
    <a href="/">MoKaYaDa</a>
  </h1>



  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <div class="art-textblock art-object227400126">
    <form class="art-search" name="Search" action="javascript:void(0)">
      <input type="text" value="">
      <input type="submit" value="Search" name="search" class="art-search-button">
    </form>
  </div>
  <nav class="art-nav">
    <ul class="art-hmenu" ><li (click)="goToLogin()">Login</li><li><a href="blog.html">Inscription</a></li></ul>
  </nav>



</header>
