<header class="art-header">

  <div class="art-shapes">

  </div>

  <h1 class="art-headline">
    <a href="/">MoKaYaDa</a>
  </h1>




  <div class="art-textblock art-object227400126">
    <form class="art-search" name="Search" action="javascript:void(0)">
      <input type="text" value="">
      <input type="submit" value="Search" name="search" class="art-search-button">
    </form>
  </div>
  <nav class="art-nav">
    <ul class="art-hmenu"><li><a href="home.html" class="active">Login</a></li><li><a href="blog.html">Inscription</a></li></ul>
  </nav>


</header>
