<h2 mat-dialog-title>Mise a jour de L'item: {{data.title}}</h2>
<form class="example-form" [formGroup]="form">
  <mat-dialog-content class="mat-typography">

    <div class="row">
      <div class="col-md-6 offset-sm-3">
        <mat-label>{{loadedItem?.id}}</mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-sm-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Titre</mat-label>
          <input matInput formControlName="title">
          <mat-error>

          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 offset-sm-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" formControlName="description"></textarea>
          <mat-error>

          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-sm-3">
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <mat-select matNativeControl formControlName="status">
            <mat-option *ngFor="let status of statusList"
                        [value]=status>{{status}}</mat-option>
          </mat-select>
          <mat-error>

          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-sm-3">
          <mat-label>{{loadedItem?.creationDate | date:'medium' }}</mat-label>
      </div>
    </div>


    <div class="row">
      <div *ngIf="isSavingItem">
        <h4>   Enregistrement de L'item en cours</h4>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="isSavingImages">
        <h4>Enregistrement de l'image en cours</h4>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 productAddfromImages" *ngFor='let photo of currentPhotos; let i = index'>
            <img class="img-fluid" [src]="photo.url">
            <a (click)="removeLoadedImage(i,photo)" class="btn btn-xs btn-danger">Supprimer</a>
            <a (click)="maximizeImage(photo.url)" class="btn btn-xs btn-primary">maximiser</a>
          </div>

          <div class="col-md-2 productAddfromImages" *ngFor='let url of imageurls; let i = index'>
            <img class="img-fluid" [src]="url.base64String">
            <a (click)="removeImage(i)" class="btn btn-xs btn-danger">Supprimer</a>
            <a (click)="maximizeImage(url.base64String)" class="btn btn-xs btn-primary">maximiser</a>
          </div>
        </div>
      </div>
      <div class="card main-title">
        <div class="col-md-12">
          <div class="form-group">
            <br>
            <label class="form-label">Ajouter image</label>
            <input
              [disabled]="(imageurls.length+currentPhotos.length) >= 3"
              type="file"
                   class="form-control"
                   (change)="onSelectFile($event)"
                    accept="image/*" />
          </div>
        </div>
      </div>
    </div>

    <mat-error *ngIf=errorMessage>
      <div [innerHTML]="errorMessage"></div>
    </mat-error>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="isSavingItem || isSavingImages ">Annuler</button>
    <button mat-button  cdkFocusInitial (click)="onUpdateItem() " [disabled]="isSavingItem || isSavingImages || !form.valid || (currentPhotos.length == 0 && imageurls.length == 0)">Mettre a jour</button>
  </mat-dialog-actions>
</form>
