<h2>Details de l'offre: {{loadedOffer.title}}</h2>
<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold text-lg-left">Titre</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.title}}</span>
  </div>
</div>


<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold">Description</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.description}}</span>
  </div>
</div>

<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold">Date de creation</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.creationDate |  date:"dd/MM/yyyy 'à' hh:mm" }}</span>
  </div>
</div>


<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold">Ville</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.city }}</span>
  </div>
</div>

<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold">Categorie</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.categorie }}</span>
  </div>
</div>

<div class="row">
  <div class="col-3 offset-2">
    <span class="font-weight-bold">Posté par</span>
  </div>
  <div class="col-4 offset-2">
    <span>{{loadedOffer.owner.firstName }} {{loadedOffer.owner.lastName }}</span>
  </div>
</div>

    <div class="row" >
      <div class="col-4" *ngFor="let item of loadedOffer.items; let index = index">
        <mat-card class="example-card" >
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{item?.title}}</mat-card-title>

              <img mat-card-md-image [src]="item?.photos[0]?.url" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p> {{item?.description}}</p>
          </mat-card-content>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>
      </div>

    </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
  </mat-dialog-actions>

