<form [formGroup]="form">
  <div class="row">
    <div class="col-4 offset-4 form-group">
      <label for="exampleInputEmail1">Nom d'utilisateur</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="username"
             placeholder="Nom d'utilisateur"
             [ngClass]="{ 'is-invalid': (form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)) }">
      <!-- Validation messages -->
      <div class="invalid-feedback"
           *ngIf="form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)">

        <div *ngIf="form.controls.username.errors?.['required']">entrer le nom d'utilisateur</div>
        <div *ngIf="form.controls.username.errors?.['minlength']">4 caractère minimum</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe"
             formControlName="password"
             [ngClass]="{ 'is-invalid': (form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)) }">
      <div class="invalid-feedback"
           *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">

        <div *ngIf="form.controls.password.errors?.['required']">entrer le mot de passe</div>
        <div *ngIf="form.controls.password.errors?.['minlength']">4 caractère minimum</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Rester connecté</label>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 form-check" style="text-align:center">

      <div style="text-align:center">
        <button mat-raised-button color="primary" [class.spinner]="isLoading" [disabled]="isLoading"
                (click)="onLogin()">Se connecter
        </button>
      </div>

      <small class="alert-danger">{{errorMessage}}</small>
    </div>
  </div>
</form>
