<div class="container align-items-center justify-content-center">
  <h1 class="color:success">Modifier la proposition pour l'offre:</h1>
  <h1>{{loadedOffer?.title}}</h1>
  <p>{{loadedOffer?.description}}</p>
</div>
<mat-progress-bar *ngIf="isLoadingLoadedOfferItems" mode="indeterminate"></mat-progress-bar>
<div class="row" *ngIf="!isLoadingLoadedOfferItems">
  <div class="col-4" *ngFor="let item of loadedOfferItems ; let index = index">
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{item?.title}}</mat-card-title>
          <mat-card-subtitle>{{item?.id}}</mat-card-subtitle>

          <img mat-card-md-image [src]="item?.photos[0]?.url"  [alt]="item?.photos[0]?.title">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p> {{item?.description}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button >Details</button>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>

</div>
<mat-progress-bar *ngIf="isLoadingAllUsersItems" mode="indeterminate"></mat-progress-bar>
<div class="row" *ngIf="!isLoadingAllUsersItems">

  <div class="col-12">

    <div class="example-container">
      <h2>Offres a proposer</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="proposedItems"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box bg-success" *ngFor="let item of proposedItems" cdkDrag>{{item.title}}</div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="example-container">
      <h2>Items disponibles</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="allUsersItems"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box bg-primary " *ngFor="let item of allUsersItems" cdkDrag>{{item.title}}</div>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-button (click)="annuler()">Annuler</button>
      <button mat-button color="primary" (click)="onUpdateProposal()" [disabled]="proposedItems.length==0">Mettre à jour</button>

    </div>
    <div mat-dialog-actions align="end" *ngIf="mode === 'withDeleteOption'">
      <button mat-button color="danger" (click)="onDeleteProposal()">Supprimer</button>
    </div>
  </div>




</div>


